body {
    background-color: #f5f5f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.map-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#map {
    height: 60vh;
    width: 80%;
    
}

.decile-buttons {
    margin: 0 50px 0 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.rad-button {
    margin-bottom: 10px;
}

button {
    margin: 2px;
}


#municipality-form {
    margin-left: 40%;
    margin-top: 50px;
}

#map-buttons {
    padding-left: 10px;
}

@media (max-width: 1100px) {
    .map-menu {
        flex-direction: column;
    }
    .decile-buttons{
        flex-direction: row;
    }
}